.page-5 {
}

.page-5__header {
  margin: 0 60px;
  margin-bottom: 24px;
}

.page-5__paragraph {
  margin: 0 60px;
}

/* adaptive */
/* mobile */

@media (max-width: 640px) {
}

/* adaptive */
/* desktop */

@media (min-width: 641px) {
  .page-5 {
    margin: 0 10vw;
    max-width: 760px;
  }
  .page-5__header {
  }
  page-5__paragraph {
  }
